@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input type="number" id="nro1"> 
    <input type="number" id="nro2">
    <input type="number" id="resultado">

    <button onclick="sumar()" >Sumar</button>
    <button onclick="multiplicar()" >multiplicar</button>
    <button onclick="restar()" >restar</button>
    <button onclick="dividir()" >dividir</button>
</div>
